/*BODY*/

body {
    background: url('../media/bg.png') #0b132b;
    background-size: 100%;
    background-position: initial;
}


/*NAVBAR*/

.div__container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.navbar {
    width: 93%;
}

.nav__all-links {
    display: flex;
    justify-content: end;
}

.navbar-brand,
.nav-link {
    margin: 10px;
    opacity: 1;
}

.navbar-brand:hover,
.nav-link:hover {
    opacity: 0.8;
    transition-duration: 1s;
}


/*VISUAL*/

.visual {
    height: 500px;
}


/*title*/

.title_APOD {
    width: 45%;
    height: 30%;
    position: absolute;
    margin-top: 15%;
    margin-left: 4%;
}

.title_APOD h1,
.title_APOD h2 {
    color: #f4f6f6;
    color: #f4f6f6;
}

.title_APOD h1 {
    font-size: 62px;
}

.title_APOD h2 {
    font-size: 58px;
}

.title_APOD h1:hover,
.title_APOD h2:hover {
    color: #6fffe9;
    transition-duration: 1s;
}

.text__highligth {
    color: #6fffe9;
}


/*intro & logo*/

.intro {
    width: 320px;
    height: 320px;
    background-color: #3a506b;
    position: absolute;
    margin-top: 6%;
    margin-left: 72%;
    transition: 0.3s ease-in-out;
}

.intro:hover {
    transform: scale(1.04);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.intro .text {
    width: 225px;
    height: 230px;
    position: absolute;
    margin-top: 21%;
    margin-left: 20%;
}

.intro .text h3,
.intro .text h4 {
    color: #f4f6f6;
    font-family: 'Poppins', sans-serif;
    text-align: justify;
}

.intro .text h3 {
    font-weight: bold;
    font-size: 26px;
}

.intro .text h4 {
    font-size: 16px;
}

.logo {
    width: 170px;
    height: 170px;
    border-radius: 100%;
    background: rgb(63, 94, 251);
    background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
    position: absolute;
    margin-top: 9%;
    margin-left: 64%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.logo img {
    width: 200px;
    position: absolute;
    margin-left: -5%;
    margin-top: 1.2%;
}


/*CONTENIDO*/

.content {
    height: 500px;
    background-color: #f4f6f6;
}

.container-sm {
    height: 100%;
    background-color: thistle;
}